.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.75rem;
}

@media(width <= 25em){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.62rem;
    }
}